<!-- app/views/books/confirm_destroy.html.erb -->

<h1>Confirm Deletion</h1>

<p>Are you sure you want to delete this book?</p>

<%= link_to "Cancel", @book, class: "btn btn-secondary" %>
<%= button_to "Destroy this book", @book, method: :delete %>
<%= link_to "Back to books", books_path %>
